################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectExplorer.Extension/obj
/ProjectExplorer.Extension/.vs
/ProjectExplorer.Extension/bin
/Utilities/obj
/Utilities/.vs
/Utilities/bin
/.vs
/**/*.generated.cs